<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>797785526224-lbk0r7n8co7mhpohq92prlbf8cii1k2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797785526224-lbk0r7n8co7mhpohq92prlbf8cii1k2g</string>
	<key>API_KEY</key>
	<string>AIzaSyDteBZ2kgA5kon3R3DzXaiRRIdVWVTI6FE</string>
	<key>GCM_SENDER_ID</key>
	<string>797785526224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newtowels.pageant</string>
	<key>PROJECT_ID</key>
	<string>pageant-91b24</string>
	<key>STORAGE_BUCKET</key>
	<string>pageant-91b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797785526224:ios:025f7ed6bf48a07a</string>
	<key>DATABASE_URL</key>
	<string>https://pageant-91b24.firebaseio.com</string>
</dict>
</plist>